<div lang="en" link="#DD0000" vlink="#DD0000" class="m_7435350212317067439emailify" style="word-spacing:normal;background-color:#f1f3f5">
    <div style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden"> Here’s what’s next. </div>
    <div style="background-color:#f1f3f5">
        <div class="m_7435350212317067439r m_7435350212317067439pr-16 m_7435350212317067439pl-16" style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="background:#fffffe;background-color:#fffffe;width:100%">
                <tbody>
                    <tr>
                        <td style="border:none;direction:ltr;font-size:0;padding:32px 32px 0px 32px;text-align:left">
                            <div class="m_7435350212317067439xc100" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="none" style="border:none;vertical-align:middle" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="font-size:0;padding:0;word-break:break-word">
                                                <table border="0" cellpadding="0" cellspacing="0" role="none" style="border-collapse:collapse;border-spacing:0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:100px"> <img alt="" height="auto" src="https://ci3.googleusercontent.com/proxy/NUspB6Wpabj_kZNU2I4Su7LP6_-RllYlW4SGY24blFXrSzZPA_WW0odKz6zzCk4o8zuoWL27P9uuNPlMW_ZZX8AxIbpKD0P2ppEQYcNMvUY=s0-d-e1-ft#https://e.hypermatic.com/fdbaa13d67d49883e5a5a11210a7a2d2.png"
                                                                    style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" title="" width="100" class="CToWUd" data-bit="iit">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="m_7435350212317067439xc436" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align:top;padding:0">
                                                <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                                    <tbody></tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="m_7435350212317067439r m_7435350212317067439pr-16 m_7435350212317067439pl-16" style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="background:#fffffe;background-color:#fffffe;width:100%">
                <tbody>
                    <tr>
                        <td style="border:none;direction:ltr;font-size:0;padding:16px 32px 16px 32px;text-align:left">
                            <div class="m_7435350212317067439xc536" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="none" style="border:none;vertical-align:middle" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="font-size:0;padding:0;word-break:break-word">
                                                <p style="border-top:solid 1px #eaeaea;font-size:1px;margin:0px auto;width:100%"></p>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="m_7435350212317067439r m_7435350212317067439pt-0 m_7435350212317067439pr-0 m_7435350212317067439pb-0 m_7435350212317067439pl-0" style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="background:#fffffe;background-color:#fffffe;width:100%">
                <tbody>
                    <tr>
                        <td style="border:none;direction:ltr;font-size:0;padding:0;text-align:left">
                            <div class="m_7435350212317067439xc600" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="border:none;vertical-align:middle;padding:0px 0px 0px 12px">
                                                <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-size:0;padding:0;word-break:break-word">
                                                                <table border="0" cellpadding="0" cellspacing="0" role="none" style="border-collapse:collapse;border-spacing:0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width:289px"> <img alt="" height="auto" src="https://ci5.googleusercontent.com/proxy/KT5ZwzkzEZTZlO6j0H1wZffd8Kn_JizWbKJwQUnp_tzQR8J6UmLpG-38BORNrTTem-YxwVoq2LN_w9ICQd-hr5fFrmhejNtPCfW9v44apx0=s0-d-e1-ft#https://e.hypermatic.com/d335fe07b67313c2f28ff5974967cbef.png"
                                                                                    style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" title="" width="289" class="CToWUd a6T" data-bit="iit" tabindex="0">
                                                                                <div
                                                                                    class="a6S" dir="ltr" style="opacity: 0.01; left: 577.5px; top: 242.5px;">
                                                                                    <div id=":116" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc1OTY4NzE2Nzg5NDUyMjY2NCJd"
                                                                                        data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT" data-tooltip="Download">
                                                                                        <div class="akn">
                                                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                                                        </div>
                                                                                    </div>
                            </div>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            </td>
                            </tr>
                            </tbody>
                            </table>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="m_7435350212317067439r m_7435350212317067439pr-16 m_7435350212317067439pl-16" style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="background:#fffffe;background-color:#fffffe;width:100%">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:0px 32px 31px 32px;text-align:left">
                        <div class="m_7435350212317067439xc536" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="border:none;vertical-align:middle" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" class="m_7435350212317067439x" style="font-size:0;word-break:break-word">
                                            <div style="text-align:left">
                                                <p style="Margin:0;text-align:left"><span style="font-size:30px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:700;color:#000000;line-height:113%">Welcome to the Harpenin Trybe!</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="m_7435350212317067439r m_7435350212317067439pr-16 m_7435350212317067439pl-16" style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="background:#fffffe;background-color:#fffffe;width:100%">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:0px 32px 40px 32px;text-align:left">
                        <div class="m_7435350212317067439xc536" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="border:none;vertical-align:middle" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" class="m_7435350212317067439x" style="font-size:0;word-break:break-word">
                                            <div style="text-align:left">
                                                <p style="Margin:0;text-align:left"><span style="font-size:16px;font-family:Montaga,Georgia,serif;font-weight:400;color:#7645cf;line-height:150%">Hi there!</span></p>
                                                <p style="Margin:0"><span style="font-size:16px;font-family:Montaga,Georgia,serif;font-weight:400;color:#7645cf;line-height:150%">&nbsp;</span></p>
                                                <p style="Margin:0"><span style="font-size:14px;font-family:Nunito Sans,Arial,sans-serif;font-weight:400;color:#777777;line-height:150%"></span><span style="font-size:16px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#777777;line-height:150%">We are thrilled to welcome you to have you on our waitlist! Thank you for showing interest in our platform and joining our community of event enthusiasts.</span></p>
                                                <p
                                                    style="Margin:0"><span style="font-size:16px;font-family:Nunito Sans,Arial,sans-serif;font-weight:400;color:#777777;line-height:150%">&nbsp;</span></p>
                                                    <p style="Margin:0"><span style="font-size:16px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#777777;line-height:150%">As a subtle reminder, Harpenin is designed to help you discover exciting events around you that you’d be interested in <img data-emoji="💛" class="an1 CToWUd" alt="💛" aria-label="💛" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f49b/32.png" loading="lazy" data-bit="iit"></span></p>
                                                    <p
                                                        style="Margin:0"><span style="font-size:16px;font-family:Nunito Sans,Arial,sans-serif;font-weight:400;color:#777777;line-height:150%">&nbsp;</span></p>
                                                        <p style="Margin:0"><span style="font-size:16px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#777777;line-height:150%">We believe that by connecting you with the best events in your area, we can help you create positive and lasting memories, connect with people, and make the most of your time.</span></p>
                                                        <p
                                                            style="Margin:0"><span style="font-size:16px;font-family:Nunito Sans,Arial,sans-serif;font-weight:400;color:#777777;line-height:150%">&nbsp;</span></p>
                                                            <p style="Margin:0"><span style="font-size:16px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#777777;line-height:150%">Thank you again for your interest and support. We can't wait for you to see what we have in store for you.</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="m_7435350212317067439r m_7435350212317067439pr-16 m_7435350212317067439pl-16 m_7435350212317067439s-24" style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="background:#fffffe;background-color:#fffffe;width:100%">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:0;text-align:left">
                        <div class="m_7435350212317067439xc300 m_7435350212317067439m" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="background-color:#d6ffb7;border:none;vertical-align:top;padding:40px 24px 40px 24px">
                                            <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439m" style="font-size:0;padding:0;padding-bottom:12px;word-break:break-word">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="border-collapse:collapse;border-spacing:0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:32px"> <img alt="" height="auto" src="https://ci4.googleusercontent.com/proxy/O4a6zmTwajuaYGSbiI4meEzR6YYmFWvBjFR0mkcLLeVT3sZvF2g5Qjdn-qP26bo0g7k-12V6yJSZKmM5YMEkyn7IwO5GoyF6eATQA4n_1Mw=s0-d-e1-ft#https://e.hypermatic.com/38f1b00792f96ba2d267ae67b63f3064.png"
                                                                                style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" title="" width="32" class="CToWUd" data-bit="iit">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439x m_7435350212317067439m" style="font-size:0;padding-bottom:12px;word-break:break-word">
                                                            <div style="text-align:left">
                                                                <p style="Margin:0;text-align:left"><span style="font-size:23px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:700;color:#111111;line-height:113%">Don’t miss out, join the community!</span></p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439x m_7435350212317067439m" style="font-size:0;padding-bottom:12px;word-break:break-word">
                                                            <div style="text-align:left">
                                                                <p style="Margin:0;text-align:left"><span style="font-size:14px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#3a3a3a;line-height:150%">Be among the first to know when we launch among other things, we invite you to join our whatsApp community.</span></p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439b" style="font-size:0;padding:0;padding-bottom:0;word-break:break-word">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="border-collapse:separate;width:100%;line-height:100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td bgcolor="transparent" role="none" style="border:none;border-radius:3px 3px 3px 3px;background:transparent" valign="middle" align="left"> <a href="https://chat.whatsapp.com/HBRtvit86QtAqNOJwuaRrU" style="display:inline-block;background:transparent;color:#ffffff;font-family:Nunito Sans,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:100%;margin:0;text-decoration:none;text-transform:none;padding:8px 0px 0px 0px;border-radius:3px 3px 3px 3px"> <span style="font-size:16px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:600;color:#000000;line-height:138%;text-decoration:underline">Join community</span></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="m_7435350212317067439xc0 m_7435350212317067439g m_7435350212317067439mb-24" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:top;padding:0">
                                            <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                                <tbody></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="m_7435350212317067439xc300" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="background-color:#f6f8fc;border:none;vertical-align:top;padding:40px 24px 40px 24px">
                                            <table border="0" cellpadding="0" cellspacing="0" role="none" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439m" style="font-size:0;padding:0;padding-bottom:12px;word-break:break-word">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="border-collapse:collapse;border-spacing:0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:32px"> <img alt="" height="auto" src="https://ci4.googleusercontent.com/proxy/L-eKR7C2082NUeZFQ57UCr8u-FpVMXERRtOaf-zbKr_JWz1cH3gc-ry_gM2sEWoEZ9Rz64Mt5GgXBs-v7Bq9C9iBWAGbBktlydPhS572Tuw=s0-d-e1-ft#https://e.hypermatic.com/ec23c63da6a6cf260e405d4284a667ec.png"
                                                                                style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" title="" width="32" class="CToWUd" data-bit="iit">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439x m_7435350212317067439m" style="font-size:0;padding-bottom:12px;word-break:break-word">
                                                            <div style="text-align:left">
                                                                <p style="Margin:0;text-align:left"><span style="font-size:23px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:700;color:#111111;line-height:113%">Be generous, share with your friends.</span></p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439x m_7435350212317067439m" style="font-size:0;padding-bottom:12px;word-break:break-word">
                                                            <div style="text-align:left">
                                                                <p style="Margin:0;text-align:left"><span style="font-size:14px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#3a3a3a;line-height:150%">Share the love! Spread the word about our platform and invite your friends and colleagues to join our waitlist.</span></p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="m_7435350212317067439b" style="font-size:0;padding:0;padding-bottom:0;word-break:break-word">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="border-collapse:separate;width:100%;line-height:100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left" bgcolor="transparent" role="none" style="border:none;border-radius:3px 3px 3px 3px;background:transparent" valign="middle"> <a href="https://bit.ly/Harpenin" style="display:inline-block;background:transparent;color:#ffffff;font-family:Nunito Sans,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:100%;margin:0;text-decoration:none;text-transform:none;padding:8px 0px 0px 0px;border-radius:3px 3px 3px 3px"> <span style="font-size:16px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:600;color:#000000;line-height:138%;text-decoration:underline">Copy link &amp; text</span></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="m_7435350212317067439r m_7435350212317067439pr-16 m_7435350212317067439pl-16" style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="background:#fffffe;background-color:#fffffe;width:100%">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:40px 16px 40px 16px;text-align:left">
                        <div class="m_7435350212317067439xc568" style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="border:none;vertical-align:middle" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" class="m_7435350212317067439x m_7435350212317067439m" style="font-size:0;padding-bottom:16px;word-break:break-word">
                                            <div style="text-align:center">
                                                <p style="Margin:0;text-align:center"><span style="font-size:12px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#111111;line-height:133%">Harpenin</span>
                                                    <span
                                                        style="font-size:12px;font-family:Nunito sans,Google Sans,apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-weight:400;color:#aaaaaa;line-height:133%">, Federal University of Technology, Akure.</span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="font-size:0;padding:0;padding-bottom:0;word-break:break-word">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="float:none;display:inline-table">
                                                <tbody>
                                                    <tr class="m_7435350212317067439m">
                                                        <td style="padding:0 16px 0 0;vertical-align:middle">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="width:13px">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:0;height:13px;vertical-align:middle;width:13px"> <a href="https://www.instagram.com/harpenintrybe/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/harpenintrybe/&amp;source=gmail&amp;ust=1700728935767000&amp;usg=AOvVaw0njJiE5N_JDhHtpsCjXRrE"> <img alt="Instagram Icon" title="" height="13" src="https://ci6.googleusercontent.com/proxy/7dSru5TenBrPLn2XNGMjvy2LTbFh0cnaEps2HSR_9WGrZMoMEALYf_rV7dTA0elUA3E7AbSgTvKZ44M8McueCUXRXCtcr8OVtZKhcGyqcG8=s0-d-e1-ft#https://e.hypermatic.com/7e60de65bda70b0d5c0370cf29a8960a.png" style="display:block" width="13" class="CToWUd" data-bit="iit"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="float:none;display:inline-table">
                                                <tbody>
                                                    <tr class="m_7435350212317067439m">
                                                        <td style="padding:0 16px 0 0;vertical-align:middle">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="width:12px">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:0;height:13px;vertical-align:middle;width:12px"> <a href="https://www.facebook.com/harpenintrybe" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/harpenintrybe&amp;source=gmail&amp;ust=1700728935767000&amp;usg=AOvVaw1RQ9nHkyLfGxq6ja2MuHet"> <img alt="Facebook Icon" title="" height="13" src="https://ci6.googleusercontent.com/proxy/DIdfvPLhCdCfTB4mHbEE01eiocPXJQ3qQlY-EKtrkGLP21xCgb_uBZlZZrZ8uPOzmwJxDXNq-9q7-jep2cCvqxfp_4Jejd9JIUjrCnUgBBs=s0-d-e1-ft#https://e.hypermatic.com/9f667fc34063e5196df955c2b044685b.png" style="display:block" width="12" class="CToWUd" data-bit="iit"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="float:none;display:inline-table">
                                                <tbody>
                                                    <tr class="m_7435350212317067439m">
                                                        <td style="padding:0 16px 0 0;vertical-align:middle">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="width:13px">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:0;height:13px;vertical-align:middle;width:13px"> <a href="https://twitter.com/harpenintrybe" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/harpenintrybe&amp;source=gmail&amp;ust=1700728935767000&amp;usg=AOvVaw29oxG5WMNQvuNWDmlp9MaB"> <img alt="Twitter Icon" title="" height="13" src="https://ci3.googleusercontent.com/proxy/LXf-frqA88Le4P9jG1JmurpNm5Y9r1NmsZ03XxEhlnxp4MZf4syuSWYP2QnsLSfgRJ4yWKkW2UuBfvtXiSrUDfi7a5Wp2lzs4rPNDiX7fos=s0-d-e1-ft#https://e.hypermatic.com/9cccfe0034418d67ae58e2a38299ec88.png" style="display:block" width="13" class="CToWUd" data-bit="iit"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="float:none;display:inline-table">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding:0;vertical-align:middle">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="none" style="width:15px">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:0;height:15px;vertical-align:middle;width:15px"> <a href="https://www.linkedin.com/company/harpenin/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/harpenin/&amp;source=gmail&amp;ust=1700728935767000&amp;usg=AOvVaw0Oy96yvSzeZ9GP0i_BNnyt"> <img alt="LinkedIn Icon" title="" height="15" src="https://ci3.googleusercontent.com/proxy/SjeWHvqo3Agruew66TUdnDhUbNM6m1UMqeVx-WXmLuu7U0LWm4ZWndFDgvo3QvEGsNmSb4lDeeopUn_Le3wQHPBnc2ncIZTyQS3EoKEdWA0=s0-d-e1-ft#https://e.hypermatic.com/a53ac7bfc7df703ef3bf7f6c3b96b347.png" style="display:block" width="15" class="CToWUd" data-bit="iit"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>
<div class="adL">

</div>
</div>
